@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Light.woff);
    font-weight:300
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Book.woff);
    font-weight:400
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Medium.woff);
    font-weight:500
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Semibold.woff);
    font-weight:600
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Bold.woff);
    font-weight:700
}

html,body { height:100%; }

body{
    background-color:#3498DB;
    color:#dcddde;
    font-family:Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:17px;
    background-color:#36393e;
    color:#dcddde;
    margin-top: 85px;
}

.example {
    font-size: 3em;
    display: block;
    height: 300px;
    text-align:center;
}

.example p {
    line-height: 300px;
    margin: 0%;
}

.pre{
    background-color:#2f3136;
}

.pre--multiline{
    margin-top:4px;
    padding:8px;
    border:2px solid;
    border-radius:5px;
}

.pre--multiline{
    border-color:#282b30!important;
    color:#bfbfbf!important;
    margin-top:4px;
    padding:8px;
    border:2px solid;
    border-radius:5px;
    width: 915px;
    margin:auto;
}

.pre--inline{
    padding:2px;
    border-radius:3px;
    font-size:85%;
    background-color:#000000;
}

.markdown{
    white-space:pre-wrap;
    line-height:1.3;
    overflow-wrap:break-word;
    font-size: 15px;
}

.space {
    height: 100px;
}

#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 50px;
    background: #3f98ef;
    border-radius: 50%;
}

#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.home-btn {
    text-align:center;
}

.btn-cross {
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: #03A9F4;
    font-size: 50px;
}

.btn-cross:before, .btn-cross:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
    transition: .3s;
}

.btn-cross:before {
    left: 7px;
}

.btn-cross:after {
    right: 7px;
}

.btn-cross:hover:before {
    top: 0px;
    left:0;
    height: 100%;
}

.btn-cross:hover:after {
    top: 0px;
    right: 0;
    height: 100%;
}