@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Light.woff);
    font-weight:300
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Book.woff);
    font-weight:400
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Medium.woff);
    font-weight:500
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Semibold.woff);
    font-weight:600
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Bold.woff);
    font-weight:700
}

body{
    font-family:Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:17px;
    margin-top: 85px;
}

a{
    text-decoration:none
}

a:hover{
    text-decoration:underline
}

img{
    object-fit:contain
}

.markdown{
    white-space:pre-wrap;
    line-height:1.3;
    overflow-wrap:break-word
}

.spoiler{
    border-radius:3px
}

.quote{
    border-left:4px solid;
    border-radius:3px;
    margin:8px 0;
    padding-left:10px
}

.pre{
    font-family:Consolas,"Courier New",Courier,monospace;
}

.pre--multiline{
    margin-top:4px;
    padding:8px;
    border:2px solid;
    border-radius:5px;
}

.pre--inline{
    padding:2px;
    border-radius:3px;
    font-size:85%
}

.mention{
    font-weight:500
}

.emoji{
    width:auto;
    height:1.45em;
    margin:0 1px;
    vertical-align:-.4em
}

.emoji--small{
    width:1rem;
    height:1rem
}

.emoji--large{
    width:2rem;
    height:2rem
}

.info{
    max-width:100%;
    margin:0 5px 10px
}

.patchnote-title {
    font-size: 30px;
}

@media only screen and (max-width: 750px) {
    .patchnote-title {
        font-size: 28px;
    }
}

.chatlog{
    max-width:100%;
    margin-bottom:24px
}

.chatlog__message-group{
    display:flex;
    margin:0 10px;
    padding:15px 0;
    border-top:1px solid
}

.chatlog__author-avatar-container{
    flex:0;
    width:40px;
    height:40px
}

.chatlog__author-avatar{
    border-radius:50%;
    height:40px;
    width:40px
}

.chatlog__messages{
    flex:1;
    min-width:50%;
    margin-left:20px
}

.chatlog__author-name{
    font-size:1em;
    font-weight:500
}

.chatlog__timestamp{
    margin-left:5px;
    font-size:.75em
}

.chatlog__message{
    padding:2px 5px;
    margin-right:-5px;
    margin-left:-5px;
    background-color:transparent;
    transition:background-color 1s ease
}

.chatlog__content{
    font-size:.9375em;
    word-wrap:break-word
}

.chatlog__edited-timestamp{
    margin-left:3px;
    font-size:.8em
}

.chatlog__attachment-thumbnail{
    margin-top:5px;
    max-width:50%;
    max-height:500px;
    border-radius:3px
}

.chatlog__embed{
    margin-top:5px;
    display:flex;
    max-width:520px
}

.chatlog__embed-color-pill{
    flex-shrink:0;
    width:4px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px
}

.chatlog__embed-content-container{
    display:flex;
    flex-direction:column;
    padding:8px 10px;
    border:1px solid;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px}

.chatlog__embed-content{
    width:100%;
    display:flex
}

.chatlog__embed-text{
    flex:1
}

.chatlog__embed-author{
    display:flex;
    align-items:center;
    margin-bottom:5px
}

.chatlog__embed-author-icon{
    width:20px;
    height:20px;
    margin-right:9px;
    border-radius:50%
}

.chatlog__embed-author-name{
    font-size:.875em;
    font-weight:600
}

.chatlog__embed-title{
    margin-bottom:4px;
    font-size:.875em;
    font-weight:600
}

.chatlog__embed-description{
    font-weight:500;
    font-size:14px
}

.chatlog__embed-fields{
    display:flex;
    flex-wrap:wrap
}

.chatlog__embed-field{
    flex:0;
    min-width:100%;
    max-width:506px;
    padding-top:10px
}

.chatlog__embed-field--inline{
    flex:1;
    flex-basis:auto;
    min-width:150px
}

.chatlog__embed-field-name{
    margin-bottom:4px;
    font-size:.875em;
    font-weight:600
}

.chatlog__embed-field-value{
    font-size:.875em;
    font-weight:500
}

.chatlog__embed-thumbnail{
    flex:0;
    margin-left:20px;
    max-width:80px;
    max-height:80px;
    border-radius:3px
}

.chatlog__embed-image-container{
    margin-top:10px
}

.chatlog__embed-image{
    max-width:500px;
    max-height:400px;
    border-radius:3px
}

.chatlog__embed-footer{
    margin-top:10px
}

.chatlog__embed-footer-icon{
    margin-right:4px;
    width:20px;
    height:20px;
    border-radius:50%;
    vertical-align:middle
}

.chatlog__embed-footer-text{
    font-weight:500;
    font-size:.75em
}

.chatlog__reactions{
    display:flex
}

.chatlog__reaction{
    display:flex;
    align-items:center;
    margin:6px 2px 2px;
    padding:3px 6px;
    border-radius:3px
}

.chatlog__reaction-count{
    min-width:9px;
    margin-left:6px;
    font-size:.875em
}

.chatlog__bot-tag{
    margin-left:.3em;
    background:#7289da;
    color:#fff;
    font-size:.625em;
    padding:1px 2px;
    border-radius:3px;
    vertical-align:middle;
    line-height:1.3;
    position:relative;
    top:-.2em
}

body{
    background-color:#36393e;
    color:#dcddde
}

a{
    color:#0096cf
}

.spoiler{
    background-color:rgba(255,255,255,.1)
}

.quote{
    border-color:#4f545c
}

.pre{
    background-color:#2f3136!important
}

.pre--multiline{
    border-color:#282b30!important
    ;color:#bfbfbf!important
}

.mention{
    color:#7289da
}

.info__guild-name{
    color:#fff
}

.info__channel-name{
    color:#fff
}

.info__channel-topic{
    color:#fff
}

.chatlog__message-group{
    border-color:rgba(255,255,255,.1)
}

.chatlog__author-name{
    color:#fff
}

.chatlog__timestamp{
    color:rgba(255,255,255,.2)
}

.chatlog__message--highlighted{
    background-color:rgba(114,137,218,.2)!important
}

.chatlog__message--pinned{
    background-color:rgba(249,168,37,.05)
}

.chatlog__edited-timestamp{
    color:rgba(255,255,255,.2)
}

.chatlog__embed-content-container{
    background-color:rgba(46,48,54,.3);
    border-color:rgba(46,48,54,.6)
}

.chatlog__embed-author-name{
    color:#fff
}

.chatlog__embed-author-name-link{
    color:#fff
}

.chatlog__embed-title{
    color:#fff
}

.chatlog__embed-description{
    color:rgba(255,255,255,.6)
}

.chatlog__embed-field-name{
    color:#fff
}

.chatlog__embed-field-value{
    color:rgba(255,255,255,.6)
}

.chatlog__embed-footer{
    color:rgba(255,255,255,.6)
}

.chatlog__reaction{
    background-color:rgba(255,255,255,.05)
}

.chatlog__reaction-count{
    color:rgba(255,255,255,.3)
}

.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

.href_head {
    color: #FFF;
}

.btn-cross {
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px rgb(90, 90, 90);
    border-bottom: solid 2px rgb(90, 90, 90);
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    font-size: 25px;
}

.btn-cross:before, .btn-cross:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: rgb(90, 90, 90);
    transition: .3s;
}

.btn-cross:before {
    left: 7px;
}

.btn-cross:after {
    right: 7px;
}

.btn-cross:hover:before {
    top: 0px;
    left:0;
    height: 100%;
}

.btn-cross:hover:after {
    top: 0px;
    right: 0;
    height: 100%;
}

.btn-partial-line {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #ffffff;
    transition: .4s;
}
  
.btn-partial-line:hover {
    padding-left: 0.7em;
    padding-right: 0.3em;
}

.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 1.5px #67c5ff;
    border-radius: 3px;
    font-size: 20px;
    margin: 2px;
    width: 90px;
    text-align:center;
    transition: .4s;
}

@media only screen and (max-width: 750px) {
    .btn-flat-border {
        width: 80%;
    }
}

.btn-flat-border:hover {
    background: #67c5ff;
    color: white;
}

.ver-line {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #ffffff;
}

.ver-day {
    font-weight: 100;
}

.ver-title {
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #ffffff;
    font-size: 30px;
}

#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 50px;
    background: #3f98ef;
    border-radius: 50%;
}

#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.anchor-link{
    width:auto;
    height:20px;
    margin:0 1px;
    vertical-align:-.4em
}

.space {
    height:30px;
}

.box4{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
    font-size: 20px;
}

.box4 p {
    margin: 0;
    padding: 0;
}