@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Light.woff);
    font-weight:300
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Book.woff);
    font-weight:400
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Medium.woff);
    font-weight:500
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Semibold.woff);
    font-weight:600
}

@font-face{
    font-family:Whitney;
    src:url(https://emoticon-bot.tk/assets/font/Whitney_Bold.woff);
    font-weight:700
}

@font-face{
    font-family: "title";
    src:url(https://emoticon-bot.tk/assets/font/spincycle_ot.otf);
}

.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

html,body { height:100%; }

body{
    font-family:Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:17px;
    background-color:#36393e;
    color:#FFF;
    margin-top: 85px;
}

a {
    text-decoration: none;
    color: #fff;
}

.example {
    font-size: 4em;
    display: block;
    text-align:center;
    font-family: title;
    text-shadow: 0px 0px 1px rgb(170, 170, 170),4px 4px 2px rgb(99, 98, 98);
    margin: 45.5px 0;
}

.space {
    height: 100px;
}

.link {
    color: #3f98ef;
}

.home-btn {
    text-align:center;
}

.questionnaire {
    padding: 0;
    list-style-type: unset;
    text-align: center;
}

.questionnaire li {
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    margin: 16px;
    padding: .8em;
    border-radius: 2em;
    border: 2px solid #aaa;
}

.questionnaire li img {
    width: 100%;
    border-radius: 10px;
}

.questionnaire li h1 {
    margin: 0;
}

.btn-cross {
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: #03A9F4;
    font-size: 50px;
}

.btn-cross:before, .btn-cross:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
    transition: .3s;
}

.btn-cross:before {
    left: 7px;
}

.btn-cross:after {
    right: 7px;
}

.btn-cross:hover:before {
    top: 0px;
    left:0;
    height: 100%;
}

.btn-cross:hover:after {
    top: 0px;
    right: 0;
    height: 100%;
}

@media only screen and (max-width: 750px) {

    .btn-cross {
        font-size: 30px;
    }

    .questionnaire li {
        width: 92%;
    }

}


.btn-flat-vertical-border-pc {
    font-size: 25px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}

.btn-flat-vertical-border-pc:hover {
    background: #668ad8;
    color: #FFF;
}

.btn-flat-vertical-border-sp {
    font-size: 15px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}

.btn-flat-vertical-border-sp:hover {
    background: #668ad8;
    color: #FFF;
}


#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 50px;
    background: #3f98ef;
    border-radius: 50%;
}

#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}